@import{
  url('https://fonts.googleapis.com/css?family=Merriweather|Mukta');
}

.mute-box{
  padding: 0px;
  margin:0px
}

div.container1 {
    height: 10em;
    position: relative 
}

div.container1 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

section {
        background: black;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
}

P { text-align: center 
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}


#nav-header{
  background-color: #green;
  height: 50px;
  width: 200px;
  border: solid 1px;
  position: absolute;
  right: 100px;
  bottom: 25px;
}

#main-content{
  
  position: absolute;
  top: 50px;
  right: 300px;
}

#list-content{
  float: left;
  display: block;
  
  
}

body {
background-color: #D3D3D3;
}

img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

h3{
	style = "text-decoration: underline";
}

#logoPic{
  filter: drop-shadow(30px 10px 4px #4444dd);
   height: 300px;
    width: 300px;
}

.allPics{
  border: dotted solid 22px black;
}

#*{
  //border: solid 5px red;
  display: block;
}

body{
  background-color: #29B6F6;  
  font-family: 'Merriweather', serif;
  font-size: 14px;
  
}
